.container-fluid{
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}

#center-column{
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;   
}

#side-sub{
    height: 390px;
    width: 290px;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    background-image: url('../images/nav_side_sub.jpg');
    background-attachment: fixed;  
    background-size: contain;
}

#side-sub-sub{
    height: 450px;
    width: 290px;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    background-image: url('../images/other_links_background.jpg');
    background-attachment: fixed;  
    background-size: contain;
}

.text{
    color: maroon;
}

.image-size-size{
    height: 100px;
    width: 220px;
}

.bullet-one{
    list-style: none;
    margin: 0px;
    padding: 5px;
}

.bullet-two{
    list-style: none;
    margin: 0px;
    padding: 5px;
}

.bullet-three{
    list-style: none;
    margin: 0px;
    padding: 5px;
}

.bullet-four{
    list-style: none;
    margin: 0px;
    padding: 5px;
}

.bullet-five{
    list-style: none;
    margin: 0px;
    padding: 5px;
}





