.sidebar__block-background {
  min-height: 100%;
  background-image: url(../images/nav_side.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 30px;

  color: #f8f9fa;
  padding: 20px 20px 40px 20px;
}

.sidebar-heading {
  border-bottom: 1px solid #f8f9fa;
  margin-bottom: 10px;
  font-size: 20px;
}

.p-side {
  margin-bottom: 0;
}

.img-side {
  width: 100%;
  margin-bottom: 10px;
}

.a-list:link,
.a-list:visited {
  text-decoration: none;
  color: #f8f9fa;
}

.a-list:hover,
.a-list:active {
  text-decoration: underline;
  color: #d2ba6f;
}

.a-list-title:link,
.a-list-title:visited {
  text-decoration: none;
  color: #f8f9fa;
}

.a-list-title:hover,
.a-list-title:active {
  font-weight: 500;
  color: #d2ba6f;
}

/* PAGE 4 */
.sidebar-list {
  margin-bottom: 15px;
}

/* RIGHT SIDEBAR */
.sidebar__block-background-contact {
  min-height: 100%;
  background-image: url(../images/other_links_background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 10px;

  color: #f8f9fa;
  padding: 20px 20px 40px 20px;
}

.right-side-bar {
  color: black;
}

.a-list-title-right:link,
.a-list-title-right:visited {
  text-decoration: none;
  color: #923530;
  font-weight: 700;
}

.a-list-title-right:hover,
.a-list-title-right:active {
  font-weight: 700;
  color: black;
}

.title-right {
  color: #923530;
  margin-bottom: 30px;
}

.a-list-title-rigth {
  font-weight: 700;
}

.image-contact {
  width: 100%;
  margin-bottom: 60px;
}

.left-side-bar {
  margin-right: 10px;
}

.mail {
  margin-top: 10px;
}
.mail:link,
.mail:visited {
  text-decoration: none;
  color: #923530;
  font-weight: 700;
}

.mail:hover,
.mail:active {
  font-weight: 700;
  color: black;
}

.email {
  margin-top: 10px;
}
